@{
    ViewData["Title"] = "Medical Counselling Management";

}

<section>
    <div class="container">
        <div class="row">
            <div class="mt-5">
                <h2>Medical Counselling Management</h2>
                <p>Book a Medical Counselling session.</p>
                <a href="@Url.Action("BookSession", "MedicalCounselling")" class="btn btn-primary">Book Medical Counselling</a>
                <a href="@Url.Action("ViewSessions", "MedicalCounselling")" class="btn btn-primary">View Booked Sessions</a>
            </div>
        </div>
    </div>
</section>