
<div class="container" style="padding-top: 80px;">


    <table class="table">
        <thead>
            <tr>
                <th>Location Category</th>
            </tr>
        </thead>
        <tbody>
            <!-- Kitchen Location Category -->
            <tr data-toggle="collapse" data-target="#kitchen">
                <td><strong>Kitchen</strong></td>
            </tr>
            <tr id="kitchen" class="collapse">
                <td>
                    <div>
                        <p>Risk Title: Sharp Objects</p>
                        <p>Risk Description: Risk of cuts or injuries from knives, scissors, or other sharp utensils.</p>
                        <!-- Photo upload section -->
                        <form method="post" enctype="multipart/form-data" action="/UploadPhotoInput/AddPhoto">
                            <div class="text-center" style="margin-top: 20px;">
                                <input id="imageURLInput" name="imageURLInput" type="text" hidden>
                                <label class="label" data-toggle="tooltip" title="Upload a profile picture">
                                    <img class="rounded" id="avatar"
                                         src="https://cdn2.iconfinder.com/data/icons/covid-19/64/25-Hot_cooking-512.png"
                                         alt="avatar" style="width: 200px; height: 200px;">
                                    <input type="file" class="sr-only" id="input" name="image" accept="image/*">
                                </label>
                            </div>
                            <div class="modal-footer">
                                <button id="submitButton" class="btn btn-primary">Upload Photo</button>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            <!-- Bedroom Location Category -->
            <tr data-toggle="collapse" data-target="#bedroom">
                <td><strong>Bedroom</strong></td>
            </tr>
            <tr id="bedroom" class="collapse">
                <td>
                    <div>
                        <p>Risk Title: Fall Hazards</p>
                        <p>Risk Description: Risk of falls from clutter on the floor, loose rugs, or obstacles in pathways.</p>
                        <!-- Photo upload section -->
                        <form method="post" enctype="multipart/form-data" action="/UploadPhotoInput/AddPhoto">
                            <div class="text-center" style="margin-top: 20px;">
                                <input id="imageURLInput" name="imageURLInput" type="text" hidden>
                                <label class="label" data-toggle="tooltip" title="Upload a profile picture">
                                    <img class="rounded" id="avatar"
                                         src="https://cdn4.iconfinder.com/data/icons/social-communication/142/add_photo-512.png"
                                         alt="avatar" style="width: 200px; height: 200px;">
                                    <input type="file" class="sr-only" id="input" name="image" accept="image/*">
                                </label>
                            </div>
                            <div class="modal-footer">
                                <button id="submitButton" class="btn btn-primary">Upload Photo</button>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            <!-- Bathroom Location Category -->
            <tr data-toggle="collapse" data-target="#bathroom">
                <td><strong>Bathroom</strong></td>
            </tr>
            <tr id="bathroom" class="collapse">
                <td>
                    <div>
                        <p>Risk Title: Slippery Surfaces</p>
                        <p>Risk Description: Risk of slipping on wet floors, especially after using the shower or bath.</p>
