@model PresentationLayer.Controllers.DrugRecordViewModel
@{
    ViewData["Title"] = "Generate Medical Plan";
}

<section>
    <div class="container">
        <div class="row">
            <div class="mt-5">
                <h2>@ViewData["Title"]</h2>

                <form id="medicationForm" method="post" action="@Url.Action("GeneratePlan", "MedicalPlan")">
                    <div id="medicationContainer">
                        <div class="medicationEntry">
                            <label for="medicationName">Medication Name:</label>
                            <select class="form-control" name="MedicationEntries[0].DrugID" required>
                                @foreach (var drug in Model.Drugs)
                                {
                                    <option value="@drug.DrugId">@drug.DrugName</option>
                                }
                            </select>

                            <label for="timesPerDay">Times Per Day:</label>
                            <input type="number" class="form-control" name="MedicationEntries[0].TimesPerDay" required min="1" max="10">

                            <label for="beforeMeals">Before Meals:</label>
                            <select class="form-control" name="MedicationEntries[0].BeforeMeals" required>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>

                            <label for="day">Day:</label>
                            <select class="form-control" name="MedicationEntries[0].Day" required>
                                <option value="Sunday">Sunday</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                            </select>
                        </div>
                    </div>
                    <div class="p-1"></div>
                    <button type="button" id="addMore" class="btn btn-primary">Add More</button>
                    <button type="button" id="removeLast" class="btn btn-secondary">Remove Last Drug</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                    <div class="p-1"></div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            var index = 1; // Adjust based on the initial count of medication entries

            $('#addMore').click(function (e) {
                e.preventDefault();
                var newEntry = $('.medicationEntry:first').clone();
                newEntry.find('select, input').each(function () {
                    var nameAttr = $(this).attr('name');
                    var newName = nameAttr.replace(/\[\d+\]/, `[${index}]`);
                    $(this).attr('name', newName);
                });
                newEntry.find('input, select').val('');
                newEntry.appendTo('#medicationContainer');
                index++;
            });

            $('#removeLast').click(function (e) {
                e.preventDefault();
                if ($('.medicationEntry').length > 1) {
                    $('.medicationEntry:last').remove();
                    index--;
                }
            });

          
        });
    </script>
}