@model List<DomainLayer.Entity.PatientMedicalPlan>
@{
    ViewData["Title"] = "Image Upload";
}

<section>
    <div class="container">
        <div class="row">
            <div class="mt-5">
                <h2>@ViewData["Title"]</h2>
                <form asp-action="SubmitImage" asp-controller="MedicalPlan" method="post" enctype="multipart/form-data">
                    <div class="form-group mb-3">
                        <label for="imageFile">Choose image to upload</label>
                        <input type="file" class="form-control mt-2 mb-2" name="imageFile" id="imageFile" required />
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Upload</button>
                </form>
            </div>
        </div>
    </div>
</section>