@using System.Linq
@model PresentationLayer.Controllers.DrugRecordViewModel
@{
    ViewData["Title"] = "Select DrugRecord Drugs";
    // Create a distinct list of drugs based on DrugId
    var distinctDrugs = Model.DrugRecordDrug
        .GroupBy(drd => drd.Drug.DrugId)
        .Select(group => group.First())
        .ToList();
}

<section>
    <div class="container">
        <div class="row">
            <div class="mt-5">
                <h2>@ViewData["Title"]</h2>
                <form id="drugsForm" action="@Url.Action("SelectDrugRecordDrugs", "MedicalPlan")" method="post">
                    <div id="drugsContainer" class="form-group">
                        @foreach (var drugRecordDrug in distinctDrugs)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="SelectedDrugs" value="@drugRecordDrug.Drug.DrugId" id="drug-@drugRecordDrug.Drug.DrugId">
                                <label class="form-check-label" for="drug-@drugRecordDrug.Drug.DrugId">
                                    @drugRecordDrug.Drug.DrugName
                                </label>
                            </div>
                        }
                    </div>
                    <button type="submit" class="btn btn-success mt-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>